<footer class="footer">
  <!-- Liens à gauche -->
  <div class="footer-links left-links">
    <a href="https://www.leagueoflegends.com" target="_blank">League of Legends</a>
    <a href="https://playvalorant.com" target="_blank">Valorant</a>
  </div>

  <!-- Logo central -->
  <div class="footer-center">
    <img src="assets/logobde.png" alt="BDE Logo" class="footer-logo">
  </div>

  <!-- Liens à droite -->
  <div class="footer-links right-links">
    <a href="https://bdecesicaen.fr/" target="_blank">Site du BDE</a>
    <a href="https://discord.gg/wbpFTjpxk9" target="_blank">Contact</a>
    <a href="/legal">Mentions légales</a>
  </div>
</footer>
